pytorch_lightning==1.9.5 
torchmetrics==0.7
omegaconf
shortuuid
tqdm
pandas
# sklearn
chumpy
transformers==4.31.0
psutil
einops
yacs
wandb
rich
# for fitting
smplx==0.1.28
trimesh==3.9.24
# pyyaml==5.4.1
h5py
joblib==1.2.0
scikit-image
spacy
diffusers
ftfy
tensorboard
tensorboardX
numpy==1.26.4